<a href="https://colab.research.google.com/github/Rohittkilatur14/Ineuron-Assignments/blob/main/INEURON_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.1 Write a Python Program to implement your own myreduce()function which works exactly like Python's built-in function reduce()

In [25]:

def myreduce(number):
    #This function will return sum of n Natural numbers 

    number_list=list(range(1,number+1))
    sum_of_elements=0
    
    for i in number_list:
        sum_of_elements+=i
        
    return number_list,sum_of_elements


    
#Input 
print("Input:")
number=int(input("Please insert the number :"))

#Function Execution
output_value = myreduce(number)


#Output
print("Output:")
print("List of First n Natural numbers are:",output_value[0])
print("Sum of List elements are :",output_value[1])

Input:
Please insert the number :23
Output:
List of First n Natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Sum of List elements are : 276

In [24]:
# Same Solution can be approached by Built-in reduce() function

print("Input:")
number=int(input("Please insert the number :"))

num_list= list(range(1,(number+1)))
# Import reduce function 
from functools import reduce
sum_of_elements = reduce((lambda x, y: x + y), num_list)

#Output
print("Output:")
print("List of First n Natural numbers are:",num_list)
print("Sum of List elements are :",sum_of_elements)

Input:
Please insert the number :23
Output:
List of First n Natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
Sum of List elements are : 276

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [26]:
# Filter the even and odd number from list 

#Input 
print("Input:")
number = int(input("Please insert the number: "))

num_list = list(range(1,number+1))


def myfilter(num_list):
    ##This function will filter even and odd numbers from list 
    num_even_list=[]
    num_odd_list=[]
    
    for i in num_list:
            if(i%2==0):
                num_even_list.append(i)
            else:
                num_odd_list.append(i)
                
    return num_even_list,num_odd_list


#Function Execution
output_value=myfilter(num_list)

#Output
print("Output:")
print("List of numbers:",num_list)
print("List of Even numbers are:",output_value[0])
print("List of Odd numbers are:",output_value[1])

Input:
Please insert the number: 24
Output:
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
List of Even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
List of Odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [27]:
#Same solution can be approached by built-in filter() function

#Input 
print("Input:")
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))

num_even_list=list(filter(lambda x: x%2==0,num_list))
num_odd_list= list(filter(lambda x: x%2!=0,num_list))

#Output
print("Output:")
print("List of numbers:",num_list)
print("List of Even numbers are:",num_even_list)
print("List of Odd numbers are:",num_odd_list)

Input:
Please insert the number: 23
Output:
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
List of Even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
List of Odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]


2. Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists ['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’] ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz'] [[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]] [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [28]:


#Section 1
word="AcadGild"
#list Comprehension
output_list=[w.upper() for w in list(word)]
print("Output:")
print(output_list)

#Section 2
word_1=list('xyz')
word_2=[x*n for x in word_1 for n in range(1,5) ]
print(word_2)

#Section 3
word_3=[x*n for n in range(1,5) for x in word_1 ]
print(word_3)

#Section 4
number=[2,3,4]
number_1=[[x+n] for x in number for n in range(0,3)]
print(number_1)

#Section 5
number_2=[2,3,4,5]
number_3=[[x+n for n in range(0,4)] for x in number_2 ]
print(number_3)

#Section 6
number_4=[1,2,3]
number_5= [(b,a) for a in number_4 for b in number_4]
print(number_5)

Output:
['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]